/*
 * @Author: 焦质晔
 * @Date: 2020-05-23 13:14:53
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2020-08-01 16:15:44
 */
@import '../../style/index.scss';

$prefix-cls: '#{$v-prefix}-bprint';

.#{$prefix-cls}--wrapper {
  display: none;
  visibility: hidden;
}
.#{$prefix-cls}--preview {
  @include reset-component();
  width: 960px;
  padding: $padding-base;
  border: 1px solid $border-color-base;
  margin: 0 auto;
}
