/*
 * @Author: 焦质晔
 * @Date: 2020-02-28 22:13:54
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2021-03-23 19:03:43
 */
.v-body--column {
  .v-cell--edit {
    .el-input-group {
      display: table;
    }
    .el-input__inner {
      font-size: $v-font-size;
      text-align: left;
      line-height: 1;
    }
    .el-date-editor {
      width: 100%;
      .el-input__inner {
        padding-left: 30px;
      }
    }
    .el-select {
      width: 100%;
    }
    .is-disabled {
      .el-input-group__append {
        cursor: not-allowed;
        .el-button {
          pointer-events: none;
        }
      }
    }
    &.is-error {
      position: relative;
      .el-input__inner {
        border-color: $v-danger-color;
      }
      .search-helper + .cell-error {
        right: 40px;
      }
      .cell-error {
        position: absolute;
        font-size: $v-font-size-mini;
        line-height: 1.2;
        color: $v-danger-color;
        top: 9px;
        right: 8px;
        pointer-events: none;
      }
    }
  }
  &.col--center {
    .v-cell--edit .el-input__inner {
      text-align: center;
    }
  }
  &.col--right {
    .v-cell--edit .el-input__inner {
      text-align: right;
    }
  }
}
