/*
 * @Author: 焦质晔
 * @Date: 2020-02-28 22:13:07
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2020-12-07 19:27:58
 */
.v-radio-wrapper {
  display: inline-block;
  line-height: 1;
  cursor: pointer;

  &:hover:not(&-disabled) {
    .v-radio-inner {
      border-color: $v-primary-color;
    }
  }

  .v-radio {
    display: inline-block;
    position: relative;
    top: -0.09em;
    width: 16px;
    height: 16px;
    white-space: nowrap;
    vertical-align: middle;
    outline: none;
    cursor: pointer;

    &-inner {
      display: inline-block;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid #d9d9d9;
      border-radius: 50%;
      background-color: #fff;
      transition: all 0.3s ease;
      &::after {
        content: ' ';
        display: table;
        position: absolute;
        top: 3px;
        left: 3px;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        border-top: 0;
        border-left: 0;
        background-color: $v-primary-color;
        transform: scale(0);
        opacity: 0;
        transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
      }
    }

    &-input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      z-index: 1;
      opacity: 0;
      cursor: pointer;
    }

    // &-focus {
    //   box-shadow: 0 0 0 2px rgba(45, 140, 240, 0.2);
    //   z-index: 1;
    // }

    &-disabled {
      cursor: not-allowed;
      .v-radio-input {
        cursor: not-allowed !important;
      }
    }
  }

  // 选中状态
  .v-radio-checked {
    &::after {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid $v-primary-color;
      border-radius: 50%;
      animation: antRadioEffect 0.36s ease-in-out;
      animation-fill-mode: both;
    }
    .v-radio-inner {
      border-color: $v-primary-color;
      &::after {
        transform: scale(0.875);
        opacity: 1;
        transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
      }
    }
  }

  // 禁用状态
  .v-radio-disabled {
    cursor: not-allowed;

    &::after {
      animation-name: none;
      display: none;
    }

    .v-radio-inner {
      border-color: #d9d9d9 !important;
      background-color: #f5f5f5 !important;
      &::after {
        background-color: $v-font-disabled-color;
      }
    }

    & + span {
      color: $v-font-disabled-color;
    }
  }

  .v-radio-text {
    margin-left: 6px;
  }
}

@keyframes antRadioEffect {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
    visibility: hidden;
  }
}
