/*
 * @Author: mashaoze
 * @Date: 2020-05-30 14:13:37
 * @Last Modified by: mashaoze
 * @Last Modified time: 2021-04-02 12:02:56
 */
.v-table {
  &.size--default {
    font-size: $v-font-size;
    .v-header--column,
    .v-body--column,
    .v-body--expanded-column,
    .v-footer--column {
      &.col--ellipsis {
        @extend %DefaultColumnHeight;
      }
      &:not(.col--ellipsis) {
        padding: #{floor(($v-table-row-height-default - $v-table-row-line-height) / 2)} 0;
      }
    }
    &.virtual--y {
      .col--ellipsis {
        .v-cell {
          max-height: $v-table-row-height-default;
        }
      }
    }
  }

  &.size--medium {
    font-size: $v-font-size-medium;
    .v-header--column,
    .v-body--column,
    .v-body--expanded-column,
    .v-footer--column {
      &.col--ellipsis {
        @extend %MediumColumnHeight;
      }
      &:not(.col--ellipsis) {
        padding: #{floor(($v-table-row-height-medium - $v-table-row-line-height) / 2)} 0;
      }
    }
    &.virtual--y {
      .col--ellipsis {
        .v-cell {
          max-height: $v-table-row-height-medium;
        }
      }
    }
  }

  &.size--small {
    font-size: $v-font-size-small;
    .v-header--column,
    .v-body--column,
    .v-body--expanded-column,
    .v-footer--column {
      &.col--ellipsis {
        @extend %SmallColumnHeight;
      }
      &:not(.col--ellipsis) {
        padding: #{floor(($v-table-row-height-small - $v-table-row-line-height) / 2)} 0;
      }
    }
    &.virtual--y {
      .col--ellipsis {
        .v-cell {
          max-height: $v-table-row-height-small;
        }
      }
    }
  }

  &.size--mini {
    font-size: $v-font-size-mini;
    .v-header--column,
    .v-body--column,
    .v-body--expanded-column,
    .v-footer--column {
      &.col--ellipsis {
        @extend %MiniColumnHeight;
      }
      &:not(.col--ellipsis) {
        padding: #{floor(($v-table-row-height-mini - $v-table-row-line-height) / 2)} 0;
      }
    }
    &.virtual--y {
      .col--ellipsis {
        .v-cell {
          max-height: $v-table-row-height-mini;
        }
      }
    }
  }

  // =============

  &.size--medium {
    .v-cell--edit {
      .el-input__inner {
        font-size: $v-font-size-medium;
        &.is-error {
          .cell-error {
            top: 9px;
          }
        }
      }
    }
  }

  &.size--small {
    .v-cell--edit {
      .el-input__inner {
        font-size: $v-font-size-small;
        &.is-error {
          .cell-error {
            top: 9px;
          }
        }
      }
    }
  }

  &.size--mini {
    .v-cell--edit {
      .el-input__inner {
        font-size: $v-font-size-mini;
      }
      &.is-error {
        .cell-error {
          top: 7px;
        }
      }
    }
  }
}
